* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f9fd;
  font-family: sans-serif;
  font-weight: 600;
  color: #32495b;
}

a {
  text-decoration: none;
  color: inherit;
}

.container-dimension {
  width: 70%;
  margin: auto;
}

.orange-button {
  height: 45px;
  padding: 10px;
  color: #fff;
  font-weight: 700;
  background-color: #fe775a;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/*  ------------- NAV TOP ------------- */
.nav-top {
  border-bottom: 2px solid #32495b;
}
.nav-cont {
  height: 80px;
  position: relative;
}

/*  LEFT LOGIN BAR  */
.lang-selection {
  height: 50px;
}

.nav-top-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.nav-top-left a:first-child {
  padding-right: 10px;
  border-right: 1px solid #32495b;
}

.nav-top-left a:last-child {
  padding-left: 10px;
}

/*  RIGHT LOGIN BAR */
.nav-top-right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.nav-top-right i {
  color: #03a7bf;
}

.nav-top-right .login-button {
  height: 40px;
  padding: 10px;
  color: #fe775a;
  font-weight: 700;
  border: 1px solid #fe775a;
  border-radius: 5px;
  background-color: #fafcfe;
  margin: 0 15px;
  cursor: pointer;
}

.nav-top-right .orange-button {
  height: 40px;
}



/*  ------------- NAV BOTTOM ------------- */
.nav-bottom {
  background-color: #fff;
}

.nav-cont {
  height: 80px;
  position: relative;
}

.hubspot-logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.nav-bot-menu {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.nav-bot-menu ul {
  list-style: none;
}

.nav-bot-menu li {
  display: inline-block;
  margin-left: 20px;
}

.nav-bot-menu i {
  margin-left: 10px;
}
