* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f9fd;
  font-family: sans-serif;
  color: #32495b;
}

h2 {
  font-size: 2.6em;
  margin-bottom: 20px;
}

h3 {
  font-size: 2em;
  margin-bottom: 20px;
}

h4 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

p {
  font-size: 1em;
  line-height: 25px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
.container-dimension {
  width: 70%;
  margin: auto;
}

.orange-button {
  height: 80px;
  padding: 15px 50px;;
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  background-color: #fe775a;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.narrow {
  height: 40px;
  padding: 10px;
  font-size: 0.8em;
}

.product-border {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 1px #e6ecf1;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

/*  ------------- NAV TOP ------------- */
.nav-top {
  border-bottom: 1px solid #32495b;
}
.nav-cont {
  height: 80px;
  position: relative;
}

/*  LEFT LOGIN BAR  */
.lang-selection {
  height: 50px;
}

.nav-top-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.nav-top-left a:first-child {
  padding-right: 10px;
  border-right: 1px solid #32495b;
}

.nav-top-left a:last-child {
  padding-left: 10px;
}

/*  RIGHT LOGIN BAR */
.nav-top-right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.nav-top-right i {
  color: #03a7bf;
}

.nav-top-right .login-button {
  height: 40px;
  padding: 10px;
  color: #fe775a;
  font-weight: 700;
  border: 1px solid #fe775a;
  border-radius: 5px;
  background-color: #fafcfe;
  margin: 0 15px;
  cursor: pointer;
}



/*  ------------- NAV BOTTOM ------------- */
.nav-bottom {
  background-color: #fff;
}

.nav-cont {
  height: 80px;
  position: relative;
}

.hubspot-logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.nav-bot-menu {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.nav-bot-menu li {
  display: inline-block;
  margin-left: 20px;
}

.nav-bot-menu i {
  margin-left: 10px;
}



/*  ------------- HEADER ------------- */
header {
  background-image: url('../img/jumbotron.png');
  background-position: bottom;
  background-size: cover;
  height: 700px;
  position: relative;
  margin-bottom: 80px;
}

.title-info {
  padding-top: 5%;
  width: 35%;
}

.title-info * {
  margin-bottom: 25px;
}

h1 {
  font-size: 3em;
}

header .orange-button + p {
  font-size: 0.6em;
}

.green-band {
  width: 100%;
  height: 16%;
  border-top: 2px solid #33475b;
  border-bottom: 2px solid #33475b;
  background-color: #afebe4;
  position: absolute;
  bottom: 0;
}


/*  ------------- MAIN ------------- */
main li i {
  color: #fe775a;
}

.product-logo {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

/*  SERVICES  */

.services-title {
  padding: 0 20%;
  text-align: center;
  margin-bottom: 100px;
}

.services-title img {
  width: 350px;
}

/*  CRM  */
/* crm-sx */
.crm {
  width: 100%;
  padding: 60px;
  margin-bottom: 80px;
}

.crm-left {
  float: left;
  width: 20%;
  text-align: center;
  margin: 0 5% 0 10%;
}

/* crm-dx */
.crm-right {
  float: left;
  width: 50%;
  margin: 5% 10% 5% 5%;
}

.crm-right p {
  margin-bottom: 25px;
}

.crm-right li {
  display: inline-block;
  margin-right: 40px;
}

.crm-right li i {
  margin-right: 10px;
}



/*  SERVICE-BOT */
.services-bot {
  text-align: center;
}

.product {
  padding: 25px;
  background-color: #fff;
  width: 28%;
  float: left;
}

.product p {
    padding-bottom: 50px;
    margin-bottom: 30px;
    height: 150px;
    border-bottom: 1px solid #899397;
}

.product ul {
  margin-bottom: 40px;
}

.product li {
  text-align: left;
  margin-bottom: 5px;
}

.product li i {
  margin-right: 5px;
}

.product:nth-child(2) {
  margin: 0 8%;
}


/* ------------- COMMUNITY ------------- */

.community {
  margin-top: 80px;
  padding: 80px 0;
  background: linear-gradient(45deg, #00a4bd 0%, #00bca5 100%);
  text-align: center;
  color: #fff;
}

.community h2 {
  margin-bottom: 40px;
}

.community .container-dimension > p {
  margin-bottom: 40px;
}

.community-box {
  width: 25%;
  float: left;
}

.community-box img {
  margin-bottom: 10px;
}

.community-box-top,
.community-box-bot {
  padding: 20px;

}

.community-box-top {
  border-bottom: 1px solid #fff;
}

.community-box h2 {
  margin-bottom: 10px;
}

.community-box h2 span {
  font-size: 0.6em;
  vertical-align: middle;
}

.community-box p {
  font-size: 0.7em;
}

.community-box:nth-child(2) {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.community-box:nth-child(3) {
  border-right: 1px solid #fff;
}

/* ------------- CUSTOMER ------------- */

/* customer top section */
.customer {
  height: 700px;
  padding: 40px 0;
  background-color: #fff;
}

.customer-top {
  width: 60%;
  margin: 0 auto 80px auto;
}

.number-of-customer {
  width: 30%;
  margin-right: 5%;
  padding-right: 100px;
  float: left;
}

.number-of-customer h2 {
  margin-bottom: 40px;
}

.number-of-customer span {
  font-weight: 700;
}

.customer-logos {
  width: 65%;
  float: left;
}

.col-logo {
  width: 25%;
  float: left;
}

.logo-top,
.logo-bot {
  height: 80px;
  position: relative;
}

.col-logo img {
  width: 150px;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* customer bot section */
.customer-bot {
  position: relative;
}

.customer-get-started {
  width: 35%;
  position: absolute;
  left: 0;
}

.customer-get-started * {
  margin-bottom: 5%;
}
.customer-get-started .orange-button + p {
  font-size: 0.6em;
}

.customer-bot img {
  width: 20%;
  display: block;
  position: absolute;
  right: 0;
}

/* ------------- FOOTER ------------- */
/* footer menu */
footer {
  padding: 80px 0;
  color: #cbd6e2;
  background-color: #32495b;
}

.col-footer {
  width: 25%;
  float: left;
}

footer h4 {
  font-size: 1.2em;
  color: white;
}

footer li {
  padding: 10px 0;
  font-weight: 700;
}

footer button.narrow {
  display: block;
  margin: 10px 0 20px 0;
  color: #32495b;
  background-color: #dadee0;
}

footer i {
  display: inline-block;
  margin-right: 20px;
}

/* footer language */
.footer-languages {
  text-align: center;
  padding: 0 0 20px 0;
  margin: 80px auto 40px auto;
  border-bottom: 1px solid;
}
.footer-languages li {
  display: inline-block;
  margin: 0 20px;
}

/* footer-bottom */
.copyright {
  float: left;
}

.copyright p {
  color: #fff;
}

.policy {
  float: right;
}

.policy li {
  display: inline-block;
  margin: 0 20px;
}
